{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="columns">
        <!--Primeiro Card-->
        <div class="column is-3">
            <div class="card card-link">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title">Link title</p>
                            	
                        </div>
                    </div>

                    <div class="content">
                        This is the link description
                    </div>

                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" target="_blank">Visit</a>
                        <a href="#" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
        </div>
        <!--Segundo Card-->
        <div class="column is-3">
            <div class="card card-link">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title">Link title</p>
                                
                        </div>
                    </div>

                    <div class="content">
                        This is the link description
                    </div>

                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" target="_blank">Visit</a>
                        <a href="#" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
        </div>
        <!--Terceiro Card-->
        <div class="column is-3">
            <div class="card card-link">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title">Link title</p>
                                
                        </div>
                    </div>

                    <div class="content">
                        This is the link description
                    </div>

                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" target="_blank">Visit</a>
                        <a href="#" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
        </div>
        <!--Quarto Card-->

    </div>
</div>
{% endblock %}

